body{
    background: burlywood
}

.myTr{
    background: greenyellow
}

.myTitle{
    margin-left: 100px;
}

.myDiv{
    border: 1px solid black;
    background-color: #f6fafa;
    width:500px;
    margin-left: 200px;


}
